{% extends "layout.html" %} 
{% load static %} 
{% block style %} 
<link rel="stylesheet" href="{% static "css/jsonConvert.css" %}"> 
{% endblock %} 
{% block content %}

  {% if error_message %}
  <p class="error_msg">{{error_message}}</p>
  {% endif %}
<div class="container">
  <form method="POST">
    
    {% csrf_token %}
    <div id="firstrow" class="row">
      <input type="text" name="url" value="" id="currUrl" readonly/>
      <span>/</span>
      <input type="text" name="endpoint" id="endpointUrl" placeholder="Enter Endpoint"/>
    </div>
    <div id="secondrow" class="row">
      <textarea name="jsonInput" id="j" placeholder="Enter Valid JSON"></textarea>
      <button type="submit">Submit</button>
    </div>
    <div id="thirdrow" class="row">
      <input type="text" value="{{ fullUrl  }}" id="furl" readonly />
    </div>
  </form>
  
</div>
  <!--   <p>{{ url }}</p>
  <p>{{ endpoint }}</p>
  <p>{{ jsonInput }}</p>   -->
{% endblock %}
{% block script %} {% endblock %}
